services:
  main-nosql:
    container_name: main-nosql
    image: scylladb/scylla
    ports:
      - "9042:9042"
      - "9160:9160"
      - "10000:10000"
    volumes:
      - scylla-data:/var/lib/scylla
    networks:
      - backend-network
    env_file:
      - .env
  main-sql:
    container_name: main-sql
    image: postgres:15
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend-network
networks:
  backend-network:
    driver: bridge

volumes:
  scylla-data:
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/docker/scylla-data
      o: bind
  pgdata:
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/docker/pgdata
      o: bind